@model QuanLySinhVien_BTL.Models.Department

@{
    ViewData["Title"] = "Thêm khoa";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 class="mb-4">Chỉnh sửa khoa</h2>

<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit" asp-controller="Department" asp-area="Admin" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="DepartmentId" />

            <div class="mb-3">
                <label asp-for="DepartmentId" class="form-label">Mã khoa</label>
                <input asp-for="DepartmentId" class="form-control"/>
                <span asp-validation-for="DepartmentId" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Name" class="form-label">Tên khoa</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
            <a asp-action="Index" class="btn btn-secondary">Quay lại danh sách</a>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}