@model QuanLySinhVien_BTL.Models.UserViewModel

@{
    ViewData["Title"] = "Trang chủ Sinh viên";
    Layout = "~/Areas/Student/Views/Shared/_Layout.cshtml";
}

<h1 class="mb-4 text-center fw-bold text-primary">
    Chào mừng @Model.UserName đến với hệ thống quản lý sinh viên!
</h1>

