@{
    ViewData["Title"] = "Lecture Home";
}

<script>
    window.onload = function() {
      alert("Chào mừng bạn đến với trang web của tôi!");
    };
</script>
<ul>
    <li><a href="#">Xem danh sách sinh viên</a></li>
    <li><a href="#">Cập nhật điểm</a></li>
    <li><a href="#">Thông tin cá nhân</a></li>
</ul>